@charset "utf-8";
h1{
    color:#ff0000;
}
h2{
    color: rgb(0,0,255);
}
li{
    color:#00a800;
    padding-right:15px;
}
table{
    margin-top:10px;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td{
    padding:5px 10px;
}
.border{
    border:3px solid orange;
    display: inline-block;
    margin-bottom:0;
}
